__pycache__
.idea
doc/_build
.ipynb_checkpoints
build
.vscode
.egg-info
unnet.egg-info
/.vs/pysubgroup/v16
.vs
/.pytest_cache/v/cache
.DS_Store
.idea/*
.project
.pydevproject
env/*
*.pkl
*.gexf
*.csv
other
*.png
*.pdf